* {
    margin: 0px;
    padding: 2%;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgreen;
}

.title {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    padding-left: 2%;
    margin-bottom: 10px

};

.navigation {
    width: 100%;
    min-height: 30px;
    background-color: lightgray;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
};
